@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
@import "reset.css";
@import "background.css";
@import "login.css";
@import "info.css";
@import "todo.css";

.hidden {
  display: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

#greeting {
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 75px;
}

#quote {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: 300;
}
